services:
  app:
    build: .
    container_name: laravel-app
    ports:
      - "8000:8000"
    depends_on:
      - db
    environment:
      DB_CONNECTION: pgsql
      DB_HOST: db
      DB_PORT: 5432
      DB_DATABASE: laravel_db
      DB_USERNAME: laravel
      DB_PASSWORD: secret
    volumes:
      - .:/var/www/html
      - /var/www/html/vendor
      - /var/www/html/node_modules
    command: >
      bash -c "php artisan key:generate --force &&
               php artisan migrate:fresh --force &&
               php artisan db:seed --force &&
               php artisan serve --host=0.0.0.0 --port=8000"

  db:
    image: docker.io/library/postgres:16
    container_name: laravel-db
    restart: always
    environment:
      POSTGRES_DB: laravel_db
      POSTGRES_USER: laravel
      POSTGRES_PASSWORD: secret
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5433:5432"

  pgadmin:
    image: docker.io/dpage/pgadmin4:latest
    container_name: pgadmin
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@gmail.com
      PGADMIN_DEFAULT_PASSWORD: admin123
    ports:
      - "8081:80"
    depends_on:
      - db

volumes:
  pgdata:
